<div id="content">
  <div id="content2">
<!--     <div class="page_title">
      <div class="container">
        <div class="row">
          <div class="span12">Company</div>  
        </div>  
      </div>  
    </div> -->
    <div id="inner">
      <div id="inner2">
        <div class="container">
          <div class="row">
            <div class="span9">
              <h1>企业简介</h1>
              <div class="thumb3">
                <div class="thumbnail clearfix">
                  <figure class="img-polaroid"><img src="images/company01.jpg" alt=""></figure>
                  <div class="caption">
                    <h4>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore      magna. Ipsum dolor sit.</h4>
                    <p>
                      amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad       minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetuer      adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper      aliquet libero. In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis pulvinar. Vestibulum vel pede at     sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor aliquet    mauris ligula id ipsum. Vestibulum pede.
                    </p>              
                  </div>
                </div>
              </div>
              <div class="line1"></div>
              <h2>所获奖项、证书</h2>
              <div class="row">
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><img src="images/company02.jpg" alt=""></figure>
                      <div class="caption">
                        <div class="txt1">Thomas Mitch</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><img src="images/company03.jpg" alt=""></figure>
                      <div class="caption">
                        <div class="txt1">Patrik williams</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><img src="images/company04.jpg" alt=""></figure>
                      <div class="caption">
                        <div class="txt1">Adam smith</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <div class="row">
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><img src="images/company05.jpg" alt=""></figure>
                      <div class="caption">
                        <div class="txt1">Laura smith</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><img src="images/company06.jpg" alt=""></figure>
                      <div class="caption">
                        <div class="txt1">jesica rodos</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="span3">
                  <div class="thumb4">
                    <div class="thumbnail clearfix">
                      <figure><img src="images/company07.jpg" alt=""></figure>
                      <div class="caption">
                        <div class="txt1">Peter meno</div>
                        <div class="txt2">Elit, sed diam nonummy.</div>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>      
            </div>
            <div class="span3">
              <h3>Whats New</h3>
              <div class="thumb5">
                <div class="thumbnail clearfix">
                  <figure class="img-polaroid"><img src="images/company08.jpg" alt=""></figure>
                  <div class="caption">
                    <h4>
                      Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor si
                    </h4>
                    <p>
                      amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu,      convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. In ante velit, cursus ut, ultrices vitae, tempor ut, risus. Duis    pulvinar. Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula, arcu libero consectetuer massa, auctor      aliquet mauris ligula id ipsum. Vestibulum pede.
                    </p>
                    <div class="text-right"><a href="#" class="button1">Details</a></div>
                  </div>
                </div>
              </div>
              <div class="line1"></div>
              <div class="thumb6">
                <div class="thumbnail clearfix">
                  <figure class=""><img src="images/company09.jpg" alt=""></figure>
                  <div class="caption2">
                    Contacts
                  </div>
                  <div class="caption">
                    <div class="txt1">
                      8901 Marmora Road,<br>
                      Glasgow, D04 89GR.<br>
                      +39 1234 567 890
                    </div>
                    <a href="#" class="button0">mail us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>  
</div>