  <div id="content">
    <div id="content2">
      <div id="inner">
      	<div class="bszcf">
      		<h2>柏树庄美味厨房</h2>
      		<div class="detail">
      			柏树庄美味厨房是柏树庄旗下官方电子商务平台。
				我们致力于为广大用户提供便捷的购买方式，在这里您不仅能选购最新的柏树庄产品，而且我们还将提供最大的优惠给广大用户，通过去中间商、让利给用户、社会化营销等方式全面降低成本。而且，我们还提供本地用户48小时送货上门服务

      		</div>
      	</div>    
        <%= image_tag('galley.jpg')%>
      </div>
    </div>  
  </div>