  <div id="content">
    <div id="content2">
      <div id="inner">
        <div class="describe">
          柏树庄闭环循环农业是相对于传统农业发展提出的一种新的发展模式，是生态学、生态经济学、生态技术学原理及其基本规律的完美展示,柏树庄循环农业模式在保护生态环境和充分利用高新技术的基础上，能够调整和优化农业生态系统内部结构及产业结构，提高农业生态系统物质和能量的多级循环利用，严格控制外部有害物质的投入和农业废弃物的产生，最大限度地减轻环境污染。
        </div>        
        <%= image_tag('circulate.jpg')%>
      </div>
    </div>  
  </div>