  <div id="content">
    <div id="content2">
      <div id="inner">
        <div class="banners">
          <div class="container">  
            <div class="row">
              <div class="span12">
                <table class="table table-striped">
                  <tr>
                    <th>职位名称</th>
                    <th>招聘人数</th>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>职位1</td>
                    <td>100</td>
                  </tr> 
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>职位1</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>职位1</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>职位1</td>
                    <td>100</td>
                  </tr>                                                                       
                </table>                
              </div>
            </div>   
            <div class="row">
              <div class="span12">
                招聘电话: 123456
              </div>
            </div>        
          </div>  
        </div> 
      </div>
    </div>  
  </div>