  <div id="content">
    <div id="content2">
      <div id="inner">
        <div class="banners">
          <div class="container">  
            <div class="row">
              <div class="span12">
                <p class='job_desc'>
                  武威柏树庄醋业有限责任公司，始于1983年，位处西北最大的粮食加工基地-西北绿色食品工业基地。
                </p>
                <p class='job_desc'>
                  公司厂区占地33亩，是甘肃省规模最大的酱醋酿造企业，公司拥有西北独家18条全机械化食醋固态生产线，20条自主研发的全自动固流式液态发酵罐,食醋年生产能力达到12000多吨;12条太阳能高盐稀态酱油生产线，酱年生产能力达3000多吨。为保证产品质量，公司投资40多万建立了化验室，对所有产品都进行严格检验，保证食品安全
                </p>
                <p class='job_desc'>
                  随着技术不断革新,竞争力加强，我公司销售网络逐步扩张，目前，我公司产品在兰州市场已稳居食醋市场第一的位置。公司在庆阳、永靖、金昌、嘉峪关、银川等地设立了一级代理商，目前的代理商队伍正在快速扩大，柏树庄系列产品正在被更多的消费者所认可。
                </p>
                <p class='job_desc'>
                  柏树庄醋业本着“食品行业是良心行业”的发展理念，为您酿造健康生活！柏树庄系列产品，100%纯粮酿造，100%绿色健康。
                  现招聘以下岗位工作人员，要求具备团队精神，踏实认真，责任心强，吃苦耐劳。
                </p>
                <p class='job_desc'>
                  联系电话：09312609898
                </p>
                <p class='job_desc'>
                  电子邮箱：hr@bszcf.com
                </p>  
              </div>
            </div>
            <div class="row">
              <div class="span12">
                <table class="table table-striped">
                  <tr>
                    <th>职位名称</th>
                    <th>招聘人数</th>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>职位1</td>
                    <td>100</td>
                  </tr> 
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>职位1</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>职位1</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>职位1</td>
                    <td>100</td>
                  </tr>                                                                       
                </table>                
              </div>
            </div>   
            <div class="row">
              <div class="span12">
                
              </div>
            </div>        
          </div>  
        </div> 
      </div>
    </div>  
  </div>