@import 'compass';
body.admin{
	.messages{
		a{
			color:#fff;
			text-decoration: none;
			&:hover,&:active{
				color:#fff;
				text-decoration: none;
			}
			&.btn{
				margin-right:4px;
			}
		}
	}
}