#baidu_map{
	height:400px;
}

.qrcode{
	img{
		width:35%;
	}
}

.journalisms{
	line-height:2em;
	font-size:16px;
	h4{
		font-size:1.5em;
		color: #000;
		font-weight: bold;		
	}
	.date{
		h4{
			font-size:1em;
			padding-top:10px;
			font-weight:normal;
		}
	}
	.rside{
		.row{
			margin-bottom:15px;
		}
	}
}

p.job_desc{
	color:#fff;
	line-height:2.5em;
}

.describe{
	background:#000;
	color:#fff;
	line-height:2em;
	text-indent: 2em;
	font-size: 1.5em;	
	padding:1em;
}

.bszcf{
	background:#fbf8f3;
	padding-left: 9em;
	padding-right: 9em;
	h2{
		color:#a0833f;
		font-weight:bolder;
	}
	.detail{
		font-size:1.3em;
		line-height: 2em;
	}
}