#baidu_map{
	height:400px;
}

.qrcode{
	img{
		width:20%;
	}
}

.journalisms{
	.date{
		h4{
			padding-top:10px;
		}
	}
	.rside{
		.row{
			margin-bottom:15px;
		}
	}
}

p.job_desc{
	color:#fff;
	line-height:2.5em;
}