#ajax-contact-form{
	a{
		border: 0;
		margin: 0;
		display: inline-block;
		height: 32px;
		line-height: 32px;
		text-decoration: none;
		font-size: 14px;
		font-family: 'Roboto';
		font-weight: 400;
		color: #c2c0bc;
		background: #0f0f0f;
		text-transform: uppercase;
		white-space: nowrap;
		letter-spacing: 0px;
		padding: 0px 20px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;		
	}
}
