<h1 class='text-center'>编辑分类信息</h1>

<%= render 'form' %>
<div class="row">
	<div class="col-xs-6 col-xs-offset-3 text-right">
		<%= link_to '查看', admin_category_path(@category) %> |
		<%= link_to '返回', admin_categories_path %>				
	</div>
</div>


